.container {
  background-color: black;
}

.title {
  color: #0070f3;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.terminal {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.terminal span {
  font-size: 0.9rem;
}

.inpcont {
  display: flex;
  flex-direction: row;
}

.inpcont span {
  color: red;
}

.inpu:active,
.inpu:focus,
.inpu::placeholder,
.inpu::selection,
.inpu {
  background-color: black;
  color: whitesmoke;
  border: none;
  outline: none;
  caret-color: #0070f3;
  cursor: pointer;
  box-shadow: none;
  width: 80vw;
  height: 4vh;
}
