.container {
  background-color: black;
}
.container p {
  color: wheat;
}

.title {
  color: #0070f3;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.terminal {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.terminal a {
  color: navy;
}
.terminal span {
  font-size: 0.9rem;
}

.inpcont {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-start;
  align-items: baseline;
}

.inpcont span {
  color: red;
  width: fit-content;
}

.inpu:active,
.inpu:focus,
.inpu::placeholder,
.inpu::selection,
.inpu {
  background-color: black;
  color: whitesmoke;
  border: none;
  outline: none;
  caret-color: #fff;
  cursor: grab;
  box-shadow: none;
  font-size: 0.9rem;
  width: 80%;
  height: 3.5vh;
}
